<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <div class="card rounded-0 shadow-lg">
        <div class="card-body">
          <h5 class="card-title text-center">Login to your account</h5>
          <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input class="form-control" type="text" formControlName="email" />
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                class="form-control"
                type="password"
                formControlName="password"
              />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
