<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card rounded-0 shadow-lg px-3">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Login to your account</h5>
          <div *ngIf="loginForm.errors" class="alert alert-danger" role="alert">
            {{ loginForm.errors.errorResponse }}
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <app-input
              inputType="text"
              label="email"
              [control]="loginForm.get('email')"
            ></app-input>
            <app-input
              inputType="password"
              label="password"
              [control]="loginForm.get('password')"
            ></app-input>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
