<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-8">
      <div class="card rounded-0 shadow-lg px-3">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">Register a new user</h5>
          <div
            *ngIf="registerForm.errors"
            class="alert alert-danger"
            role="alert"
          >
            {{ registerForm.errors.errorResponse }}
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
            <app-input
              inputType="text"
              label="first name"
              [control]="registerForm.get('firstName')"
            ></app-input>
            <app-input
              inputType="text"
              label="last name"
              [control]="registerForm.get('lastName')"
            ></app-input>
            <app-input
              inputType="password"
              label="password"
              [control]="registerForm.get('password')"
            ></app-input>
            <app-input
              inputType="password"
              label="confirm password"
              [control]="registerForm.get('confirmPassword')"
            ></app-input>
            <app-input
              inputType="text"
              label="email"
              [control]="registerForm.get('email')"
            ></app-input>
            <div class="mb-3">
              <select
                class="form-select"
                formControlName="role"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('role').touched &&
                    registerForm.get('role').errors &&
                    registerForm.get('role').errors.required
                }"
              >
                <option [ngValue]="null" disabled>Choose role</option>
                <option *ngFor="let role of allRoles" [ngValue]="role">
                  {{ role.roleName | titlecase }}
                </option>
              </select>
              <div
                *ngIf="
                  registerForm.get('role').touched &&
                  registerForm.get('role').errors &&
                  registerForm.get('role').errors.required
                "
                class="invalid-feedback"
              >
                Entry is required
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
